*{
    cursor:cell;
}

#app {
    margin: 2% 5%;
}

code{
    color: #e83e8c !important;
}

img{
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

blockquote {
    background-color: #dfdfdf;
    border-radius: 5px;
    padding: 1%;
    color: black;
}